@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="angularFormsApp">
<head>
    <base href="/">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/mini-spa/style")
    @Scripts.Render("~/bundles/mini-spa/script")
</head>
<body class="container">
    <br />
    <div ng-view></div>
</body>
</html>